<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
<<<<<<< HEAD:Rakhi/Assignment2-foreignkey/app/views/books/show.html.erb
  <%= @book.Title %>
=======
  <%= @book.title %>
>>>>>>> e119317a0f623e0eae36b8312c36026beb434c37:Nirmala/assignment2/app/views/books/show.html.erb
</p>

<p>
  <strong>Published year:</strong>
  <%= @book.published_year %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>
<<<<<<< HEAD:Rakhi/Assignment2-foreignkey/app/views/books/show.html.erb
<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

=======
>>>>>>> e119317a0f623e0eae36b8312c36026beb434c37:Nirmala/assignment2/app/views/books/show.html.erb
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
